@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 100%;
    font-weight: 500;
    min-height: 100%;
    height: auto;
    @apply sm:text-[120%];
  }

  body {
    @apply overflow-x-hidden overscroll-contain bg-soft-white text-dark-blue transition-colors duration-500 dark:bg-soft-black dark:text-soft-white;
  }

  body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    transition: all 0.5ms;
    @apply bg-soft-black dark:bg-soft-white;
    border-radius: 20px;
    height: 100px;
  }

  * {
    line-height: 100%;
  }
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme('fontFamily.serif');
    font-weight: 500;
    color: theme('colors.red-orange');
  }

  h1 {
    font-size: theme('fontSize.5xl');
    @apply sm:text-6xl;
  }

  h2 {
    font-size: theme('fontSize.4xl');
  }

  h3 {
    font-size: theme('fontSize.2xl');
    font-weight: 600;
  }

  p {
    font-size: theme('fontSize.sm');
    line-height: 120%;
  }

  .container {
    @apply xl:px-[70px];
  }

  @media screen and (min-width: 2560px) {
    :root {
      font-size: 150%;
    }
  }
}
